extends ../layout/index.pug

block content
  div.py-4
    h1.text-4xl.my-10.font-extrabold.text-center Real
      span.font-normal State
    h2.text-center.text-2xl.font-extrabold= title
    .mt-8.mx-auto.max-w-md
      .bg-white.py-5.px-4.shadow
        form(action="").space-y-5
          div
            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Email
            input#email.block.w-full.border.border-gray-300.rounded-md.py-2.px-3.mb-3.placeholder-gray-500.text-gray-900(class="placeholder:text-gray-400", type="email", name="email", required, placeholder="example@email.com")
          div
            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Password
            input#password.block.w-full.border.border-gray-300.rounded-md.py-2.px-3.mb-3.placeholder-gray-500.text-gray-900(class="placeholder:text-gray-400", type="password", name="password", required, placeholder="********")
         
          input(class="bg-indigo-700 text-white font-bold py-2 px-5 rounded-md cursor-pointer w-full hover:bg-indigo-500 ", type="submit", value="Login")

          div.flex.items-center.justify-between
            a(href="/auth/register" class="text-sm text-indigo-600 hover:text-indigo-500") Don't have an account? Register
            a(href="/auth/forgot-password" class="text-sm text-indigo-600 hover:text-indigo-500") Forgot password?

          
          